<article>
    <h3>Home Page</h3>
</article>

<div class="fb-page" data-href="https://www.facebook.com/southerntriathlon/" data-tabs="photos" data-small-header="false"
    data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
    <blockquote cite="https://www.facebook.com/southerntriathlon/" class="fb-xfbml-parse-ignore">
        <a href="https://www.facebook.com/southerntriathlon/">Sunbelt Cohutta Springs Triathlon</a>
    </blockquote>
</div>

<article *ngFor="let blurb of blurbs">
    <p *ngIf="blurb.paragraph">
        <span *ngFor="let line of blurb.paragraph">
        <span *ngIf="line.text" [innerHtml]="line.text"></span>
        <a *ngIf="line.link" href="{{line.protocol}}://{{line.link}}" target="_blank" [innerHtml]="line.link"></a>
        </span>
    </p>
</article>

<rate-chart></rate-chart>