<article>
    <h3>Home Page</h3>
</article>

<div class="logo" style="text-align:center">
    <img src="assets/logos/triathlon.gif">
</div>

<article *ngFor="let blurb of blurbs">
    <p *ngIf="blurb.paragraph">
        <span *ngFor="let line of blurb.paragraph">
        <span *ngIf="line.text" [innerHtml]="line.text"></span>
        <a *ngIf="line.link" href="{{line.protocol}}://{{line.link}}" target="_blank" [innerHtml]="line.link"></a>
        </span>
    </p>
</article>

<rate-chart></rate-chart>