<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/event-info" routerLinkActive="active">Event Info</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/results" routerLinkActive="active">Results</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/sponsors" routerLinkActive="active">Sponsors</a>
    </li>
</ul>