.address-map {
  float: right;
  padding: 5px;
  border-radius: 3px;
  margin: 0 0 10px 10px;
}
.address-map address {
  font-size: small;
  line-height: 15px;
  text-align: right;
  font-weight: bold;
}
