<!--The content below is only a placeholder and can be replaced.-->
<div class="fb-page" data-href="https://www.facebook.com/southerntriathlon/" data-tabs="photos" data-small-header="false"
  data-width="500px" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
  <blockquote cite="https://www.facebook.com/southerntriathlon/" class="fb-xfbml-parse-ignore">
    <a href="https://www.facebook.com/southerntriathlon/">Sunbelt Cohutta Springs Triathlon</a>
  </blockquote>
</div>
<menu></menu>
<router-outlet></router-outlet>
<footer></footer>
<!--
<div class="btn-group" dropdown>
  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
      Button dropdown <span class="caret"></span>
    </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
    </li>
  </ul>
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="https://blog.angular.io//">Angular blog</a></h2>
  </li>
</ul>
-->