<table class="table table-striped table-hover table-sm">
    <caption>
        <h3>Registration Information</h3>
        <h6>*Student rate applies for anyone 24 years of age and under.</h6>
    </caption>
    <thead class="thead-default">
        <tr>
            <th>&nbsp;</th>
            <th>Early Bird<br>Ends 09/20/2016</th>
            <th>Pre-registration<br>Ends 09/27/2016</th>
            <th>Race Day<br>Opens at 10:30 AM</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Student Registration*</th>
            <td>$30</td>
            <td>$55</td>
            <td>$70</td>
        </tr>
        <tr>
            <th scope="row">General/Open Registration</th>
            <td>$50</td>
            <td>$75</td>
            <td>$90</td>
        </tr>
        <tr>
            <th scope="row">Relay Teams</th>
            <td>$75</td>
            <td>$99</td>
            <td>$120</td>
        </tr>
    </tbody>
</table>