<nav class="row">
    <!-- <div class="col">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
        <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
    </div> -->

    <div class="col">
        © 2016-2017 <a href="https://www.southerntriathlon.com">www.southerntriathlon.com</a>
    </div>

    <!-- <div class="col">
        <a class="nav-link" routerLink="/policy/refund" routerLinkActive="active">Refund Policy</a>
        <a class="nav-link" routerLink="/policy/privacy" routerLinkActive="active">Privacy Policy</a>
        <a class="nav-link" routerLink="/policy/terms" routerLinkActive="active">Terms of Service</a>
    </div> -->
</nav>