body {
  padding: 5px;
}
body menu {
  padding: 0;
}
body caption {
  caption-side: top;
}
body footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  text-align: center;
  line-height: 15px;
  font-size: 10px;
}
